
body{
    font-family: 'Montserrat', sans-serif;
}


#title{
    background-color: #ff4c68;
 color: white; 
}

#features{
    padding: 6% 15%;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
}

#testimonials{
    text-align: center;
    background-color: #ff4c67c4;
    color: white;
}

#press{
    background-color: #ff4c67c4;
    text-align:center;
    padding-bottom: 3%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

#cta{
    background-color:  #ff4c68 ;
    text-align:center;
    padding: 6% 15%;
}

#footer{
    background-color: white;
    text-align: center;
    padding:5% 15%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3{
    font-weight: bold;
    font-size: 1.3rem;
}
.container-fluid{
    padding: 3% 15% 7%;
}

.navbar{
    padding:0 0 3.5rem;
}

.navbar-brand{ 
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Ubuntu;
}

.mockup{
    transform: rotate(25deg);
    width:60%;
    height:auto;
    position: absolute;
    right: 30%;

}

.caption{
    margin-top: 40px;
}

.nav-link{
    font-size: 1.25rem;
    margin:0.93rem;
    font-family: 'Montserrat-Light';
}

.button{
    margin: 3% 5% 3% 0;
}

.icons{
    margin-top: 1rem;
    color: #ff4c67c4;
    margin-bottom: 1.5rem;
    text-align: center;
}
.icons:hover{
    color:  #ff4c68  ;
}

.description{
    color: gray;
    font-size: 0.87rem;
}

.test-img{
   width: 10%;
   border-radius: 100%;
}

.carousel-item{
    padding: 7% 15%;
}

.test-text{
    padding:3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.pricing-column{
    padding: 3% 2%;
}

.cta-text{
    font-size: 2.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

.cta-button{
    margin: 3% 3% 0;
}

.footer-icon{
    width: 3%;
    padding: 1.5%;
}

.copyrights{
    font-size: 0.87rem;
    padding-top: 1.5%;
    color: grey;
}

@media (max-width:991px ){
    .mockup{
        transform: rotate(0);
        position: static;
    }
    #features{
        position: static;
    }
} 
